.input-container {
  padding: 5px;
}

.input-error {
  border-color: rgb(241, 79, 220);
}

.error-message {
  color: rgb(231, 74, 166);
  margin-top: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

body {
  background-color: #ABBAEA;
}
div {
  
  
  background-color: #ee71ac;
}
